<div class="page-container">

  <h2>Stages prêtes pour soutenance</h2>

  <div class="card">

    @if (loading) {
      <p class="loading">Chargement...</p>
    }

    @if (!loading && list.length === 0) {
      <p class="empty">Aucune convention disponible.</p>
    }

    @if (!loading && list.length > 0) {
      <table class="table">
      <thead>
      <tr>
        <th>Étudiant</th>
        <th>Offre</th>
        <th>Encadrant</th>
        <th>Progression</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (c of list; track c.id) {
          <tr>
            <td>{{ c.etudiant.nom }}</td>
            <td>{{ c.offre.titre }}</td>
            <td>{{ c.encadrantPedagogique.nom }}</td>
            <td>
              <span class="badge accepted">100%</span>
            </td>
            <td>
              <a class="btn primary" [routerLink]="['/admin/soutenances', c.id]">
                Ouvrir
              </a>
            </td>
          </tr>
        }
      </tbody>

    </table>

    }

  </div>
</div>
