<div class="page-container">
  @if (convention) {
    <div class="card info-card">
      <h2>Convention</h2>

      <div class="grid">
        <div><b>Étudiant :</b> {{ convention.etudiant?.nom }}</div>
        <div><b>Entreprise :</b> {{ convention.entreprise?.nom }}</div>
        <div><b>Offre :</b> {{ convention.offre?.titre }}</div>
        <div><b>Encadrant :</b> {{ convention.encadrantPedagogique?.nom }}</div>

        <div><b>Période :</b>
          {{ convention.dateDebut }} → {{ convention.dateFin }}
        </div>

        <div>
          <b>Statut :</b>
          <span class="badge success">{{ convention.statut }}</span>
        </div>
      </div>
    </div>
  }

  <h2>Suivi du stage</h2>

  <div class="card">

    <p class="total">Progression totale : {{ total }}%</p>

    @if (loading) {
      <p class="loading">Chargement...</p>
    }

    @if (!loading && list.length === 0) {
      <p class="empty">Aucun suivi pour le moment.</p>
    }

    @if (!loading && list.length > 0) {
      <table class="table">
        <thead>
        <tr>

          <th>Description</th>
          <th>Progression</th>
          <th>Commentaire encadrant</th>
          <th>Statut</th>
        </tr>
        </thead>

        <tbody>
          @for (s of list; track s.id) {
            <tr>
              <td>{{ s.contenu }}</td>
              <td>{{ s.progression }}%</td>
              <td>{{ s.commentaireEncadrant || '-' }}</td>
              <td>
                 <span class="badge"
                       [class.accepted]="s.valide"
                       [class.pending]="!s.valide">
                  {{ s.valide ? 'validé' : 'Non validé' }}
                </span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }

  </div>

  <div class="card">

    <h3>rapport PDF</h3>
      <div class="card">

        @if (rapport) {
          <p class="success"> Rapport déjà déposé</p>

          <a class="btn"
             [href]="'http://localhost:8080/' + rapport.cheminFichier"
             target="_blank">
            Télécharger rapport
          </a>
        }
      </div>
  </div>

  <div class="card card1">
    <h3>Soutenance</h3>

    @if (soutenance) {

      <div class="alert success">
        Soutenance déjà programmée le {{ soutenance.dateSoutenance | date:'dd/MM/yyyy HH:mm' }}
      </div>

      <div><b>Salle :</b> {{ soutenance.salle }}</div>
      <div class="multiline"><b>Jury :</b><br> {{ soutenance.jury }}</div>

      <div class="section">
        <h4> Note finale</h4>

          <p><b>{{ soutenance?.noteFinale }}</b></p>


      </div>


    }

  </div>


</div>
